mixin list(items, className, active)
  nav(class="#{className}")
    ul(class="#{className}_list")
      each item, key in items
        if key == active
          li(class="#{className}_item #{className}_item--active")
            a(href="#" class="#{className}_link")= item
        else
          li(class="#{className}_item")
            a(href="#" class="#{className}_link")= item






mixin list-mod(items, className, id, mod)
  nav(class="#{className}")
    ul(class="#{className}_list")
      each item in items
        li(class="#{className}_item")
          a(href="#" class="#{className}_link")= item